@model ICollection<WebShop.Data.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Products</h1>
<a asp-action="Create">Create New</a>

<div class="catalog">
    @foreach (var item in Model)
    {
        <div class="catalog__item">
            <div class="catalog__item__img_box">
                <img src="@Html.DisplayFor(modelItem => item.ImageURL)" alt="@Html.DisplayFor(modelItem => item.Name)"
                     class="catalog__item__img" />
            </div>
            <h2 class="catalog__item__title">@Html.DisplayFor(modelItem => item.Name)</h2>
            <h3 class="catalog__item__price">@Html.DisplayFor(modelItem => item.Price)</h3>
            <buttom class="catalog__item__tocart btn__wide">buy</buttom>
        </div>
    }
</div>

